.button {
    border: 0;
    background: rgb(241, 142, 61);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 2px;
}

.modal {
    display: block;
    min-width: 300px;
    width: 40%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    padding: 5px;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

.modal .new-flag .edit {
    display: none;
}

.modal .edit-flag .new {
    display: none;
}

.modal-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

label {
    font-weight: bold;
}

.modal-body>div {
    padding: 10px 0;
}

input {
    width: 90%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border-radius: 5px;
}

input#date {
    width: 25%;
}

#gender-container {
    display: flex;
    justify-content: center;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
}

.modal-body {
    flex: 1 1 auto;
    position: relative;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.6);
}

#modal-close-button {
    border: 0;
    background: black;
    color: white;
    padding: 5px 10px;
    font-size: 1.3rem;
    cursor: pointer;
}

#list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 450px;
    border: 2px solid rgb(241, 142, 61);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    display: flex;
}

.card>div {
    padding: 5px;
}

.card-info {
    width: 100%;
    overflow: auto;
}

.card .button {
    border: 0;
    cursor: pointer;
    float: right;
    padding: unset;
    width: 20px;
    height: 20px;
    border-radius: unset;
}

.card .button.edit {
    background: url(../img/edit.png) no-repeat;
}

.card .button.remove {
    background: url(../img/remove.png) no-repeat;
}

@media (max-width: 600px) {
    .card .card-img {
        display: none;
    }
}

.pagination button {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    background: no-repeat;
}

.pagination button.active {
    background: rgb(241, 142, 61);
    color: white;
}

.pagination button:hover:not(.active) {
    background: #ddd;
}

.d-node,
.closed {
    display: none;
}

.t-center {
    text-align: center;
}